<html>
  <head>
    <title>Pat's Blog</title>
  </head>
  <body>
    <div>
      <h1><a href=""> Pat's Blog</a></h1>
    </div>

    <div>
      <p> published: 17.07.2017, 14:25</p>
      <h2><a href="">My First Post</a></p>
      <p>Aenean eu leo quam. pellentesque ornare sem lacinia quam venenatis vest i aint writing the rest </p>
    </div>

    <div>
      <p>Published: 17.07.2017, 14:25</p>
      <h2><a href=""> I didnt wait long did I </a></h2>
      <p>Latin</p>
    </div>
  </body>
</html>
